<div>
    <table class="table">
        <caption>Details of {{CityName}}</caption>
        <thead>
        <tr>
            <th data-type="text" scope="col" role="columnheader" id="cityName">City Name</th>
            <th data-type="text" scope="col" role="columnheader" id="temperature">Temperature Celcius</th>
            <th data-type="text" scope="col" role="columnheader" id="seaLevel">Sea Level</th>
        </tr>
        </thead>
        <tbody>
            <tr class="table-info">
                <td class="link"><a routerLink="/">{{CityName}}</a></td>
                <td>{{Temperature}}</td>
                <td>{{SeaLevel}}</td>
            </tr>
        </tbody>
    </table>
</div>